/*
* Estilos das páginas em html do portal
* os estilos estão divididos em setores e por página nessa arquivo
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
li {
    list-style: none;
}
.clear{
    clear: both !important;
}

.btnback{
    padding: 8px 18px;
    border-radius: 15px;
    display: inline-block;
    margin: 0 auto 15px auto;
    text-decoration:none;
    color: #545454;
}
.btnback:hover{
    color: #000;
}

/* =============================== HEADER =============================== */
header{
    padding: 25px;
}
header .logo{
    width: 15%;
    float: left;
}
header .logo img{
    width: 100%;
}

header .banner{
    float: right;
}
header .banner p{
    text-align: right;
    margin: 15px 15px 0 0;
    float: left;
}
header .banner .btn{
    float: left;
    margin-top: 5px;
}

/* =============================== FOOTER =============================== */
footer p{
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 1px #999;
    padding: 15px 0 0 0;
}

/* =============================== HOME =============================== */
.page-weapper h1{
    margin-top:5px;
}
.home .box{
    padding: 25px;
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 0px 15px 15px 15px;
    margin: 0px 15px 15px 15px;
}
.home .box img{
    width:60%;
    margin: 0 20% 15px 20%;
}
.home .box a{
     text-shadow: 1px 1px 1px #ccc;
     font-weight: 600;
     font-size: 1.2em;
     text-decoration: none;
}
.home .box a:hover{ color: #333 !important; }
.home .box a.green{ color: green; }
.home .box a.blue{ color: blue;}
.home .box a.red{ color: red;}

/* =============================== DRAW =============================== */

.mapedit{
    position: absolute;
    left: 0; bottom: 0; right: 0; top: 0;
    background-color: #FFFFFF;
    z-index: 1;
}

.mapedit img{
    position: absolute;
    bottom: 33px; right: 18px;
    z-index: 1;
}

.mapedit a.btnbackMap{
    position: absolute;
    z-index: 3;
    bottom: 20px;
    font-size: 1.2em;
    right: 90px;
    text-decoration:none;
    color: #636363;
}
.mapedit a.btnbackMap:hover{
    color: #333;
}

/* ------------------------------------- */
/* --------- buttons Principal --------- */
.mapedit .base_btn{
    position: absolute;
    background: rgba(255,255,255,0.4);
    border-radius: 3px;
    padding: 5px;
    z-index: 2;
}

.mapedit .btn_draw {
    position: relative;
    background:rgba(0,60,136,.5);
    cursor: pointer;
    padding: 3px;
    font-size: 1.5em;
    border-radius: 2px;
    color: #FFF;
}
.mapedit .btn_draw:hover, .btn_draw.active{
    background: rgba(0,60,136,0.7);
    text-decoration: none;
}

.mapedit .base_btn.layerB{
    top: 7.5px;
    right:50px;
}
.mapedit .base_btn.infoB{
    width: 2.54em;
    bottom:320px;
    left:5px;
}
.mapedit .base_btn.searchB{
    width: 2.54em;
    bottom: 260px;
    left: 5px;
}
.mapedit .base_btn.typeGeomB{
    width: 2.54em;
    bottom:160px;
    left: 5px;
}
.mapedit .base_btn.recarregB{
    width: 2.54em;
    bottom:75px;
    left:5px;
}

/* --------- buttons de edição --------- */
.mapedit .btn_edit{
    position: absolute;
    width: auto;
    bottom: 10px;
    left:20%;
    background: rgba(255,255,255,0.4);
    border-radius: 2px;
    padding: 3px;
    display:none;
    z-index: 2;
}
.mapedit .btn_edit p{
    display: inline-block;
    background: rgba(0,128,0,0.5);
    padding: 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-family: Arial;
}
.mapedit .btn_edit p:hover, .btn_edit p.activeOptions{
    background: rgba(0,128,0,0.7);
}
.mapedit .btn_edit p.line {
    background: rgba(0,60,136,.7);
}
.mapedit .btn_edit p.line:hover, .btn_edit p.line.activeOptions {
    background: rgba(0,60,136,.9);
}

/* ------------------------------------- */
/* -------------- Toobars -------------- */
.mapedit .boxToobar{
    position: absolute;
    z-index: 2;
    background: rgba(255,255,255,0.8);
    overflow: auto;
    max-height: 70%;
    padding: 0 20px 20px 20px;
    display: none;
}
.mapedit .boxToobar h1{
    margin: 0;
}
.mapedit .boxToobar .content{
    padding: 5px 20px;
}


/* ------- layers ------- */
.mapedit .layersMap{
    right: 0;
    width: 30%;
    top: 10%;
    padding-bottom: 30px;
}
.mapedit .layersMap li{
    font-size: 1.5em;
    margin: 5px 0;
    border-bottom: 1px dashed #dedede;
}
.mapedit .layersMap li:hover{
    background: #fff;
}

/* ----- formularios ----- */
.mapedit .form_draw {
    right: 0;
    width: 30%;
    top: 10%;
    padding-bottom: 30px;
}

/* ---- Select Feature (camadas por data) ---- */
.selectCamadas {
    top: 10%;
    left: 10%;
}

/* ---- Search Street ---- */
.searchEnd{
    width: 30%;
    top: 10%;
    left: 3%;
}
.searchEnd .searchResposta{
    padding: 3px;
    background: rgba(0,0,0,0.02);
    border: 1px solid #ccc;
    margin: -10px 0 15px 0;
}
.searchEnd .searchResposta p{
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid #ccc;
}
.searchEnd .searchResposta button{
    padding: 0 3px;
    float: right;
}

/* ---- Infos Features ---- */
.infos{
    width: 35%;
    top: 3.5%;
    left: 3%;
    max-height: 80%;
}

.infos .respInfo{
    width: 100%; 
    background: #fff;
    margin: 15px 0;
    padding: 15px;
    display:none;
}
.infos .respInfo table{
    width: 100%;
}
.infos .respInfo table tr, td{
    border: 1px solid #666;
    padding: 6px !important;
}
.infos .respInfo table a {
    text-align: center;
    font-size: 1.1em;
}


/* ============================= EXCLUSÃO ============================= */
.del_colaborador .btn{ background: #e60000; color: #fff; padding: 3px 10px;}
.del_colaborador .btn:hover{ background: #cc0000;}