/*
* Estilos das páginas em html do portal
* os estilos estão divididos em setores e por página nessa arquivo
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.btnback{
    padding: 8px 18px;
    border-radius: 15px;
    display: inline-block;
    margin: 0 auto 15px auto;
    text-decoration:none;
    color: #545454;
}
.btnback:hover{
    color: #000;
}

/* ========== HEADER ========== */
header{
    padding: 25px;
}
header .logo{
    width: 15%;
    float: left;
}
header .logo img{
    width: 100%;
}

header .banner{
    float: right;
}
header .banner p{
    text-align: right;
    margin: 15px 15px 0 0;
    float: left;
}
header .banner .btn{
    float: left;
    margin-top: 5px;
}

/* ========= FOOTER ========== */
footer p{
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 1px #999;
    padding: 15px 0 0 0;
}

/* ========== HOME ========== */
.page-weapper h1{
    margin-top:5px;
}
.home .box{
    padding: 25px;
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 0px 15px 15px 15px;
    margin: 0px 15px 15px 15px;
}
.home .box img{
    width:60%;
    margin: 0 20% 15px 20%;
}
.home .box a{
     text-shadow: 1px 1px 1px #ccc;
     font-weight: 600;
     font-size: 1.2em;
     text-decoration: none;
}
.home .box a:hover{ color: #333 !important; }
.home .box a.green{ color: green; }
.home .box a.blue{ color: blue;}
.home .box a.red{ color: red;}

/* ======== DRAW ========= */

.mapedit{
    position: absolute;
    left: 0; bottom: 0; right: 0; top: 0;
    background-color: #FFFFFF;
    z-index: 1;
}

.mapedit img{
    position: absolute;
    bottom: 33px; right: 18px;
    z-index: 1;
}

/* --------- buttons Principal --------- */
.mapedit .base_btn{
    position: absolute;
    background: rgba(255,255,255,0.4);
    border-radius: 3px;
    padding: 5px;
    z-index: 2;
}

.mapedit .btn_draw {
    position: relative;
    background:rgba(0,60,136,.5);
    cursor: pointer;
    padding: 3px;
    font-size: 1.5em;
    border-radius: 2px;
    color: #FFF;
}
.mapedit .btn_draw:hover, .btn_draw.active{
    background: rgba(0,60,136,0.7);
    text-decoration: none;
}

.mapedit .base_btn.searchB{
    width: 2.54em;
    bottom: 400px;
    left: 5px;
}
.mapedit .base_btn.layerB{
    top: 7.5px;
    right:50px;
}
.mapedit .base_btn.typeGeomB{
    width: 2.54em;
    bottom:250px;
    left: 5px;
}
.mapedit .base_btn.recarregB{
    width: 2.54em;
    bottom:75px;
    left:5px;
}

/* ========== TOOBARS ========== */
/* ---- layers ---- */
.mapEdit .layersMap {
    position: absolute;
    right: 0;
    width: 30%;
    top: 14%;
    z-index: 2;
    background: rgba(255,255,255,0.8);
    padding: 20px;
    max-height:70%;
    overflow: auto;
    display: none;
}










/* ========= TOOBAR BTN DRAW ========== */
.mapedit .toobar {
    position: absolute;
    width: auto;
    bottom: 10px;
    left:20%;
    background: rgba(255,255,255,0.4);
    border-radius: 2px;
    padding: 3px;
    display:none;
    z-index: 2;
}
.mapedit .toobar p{
    display: inline-block;
    background: rgba(0,128,0,0.5);
    padding: 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-family: Arial;
}
.mapedit .toobar p:hover, .toobar p.activeOptions{
    background: rgba(0,128,0,0.7);
}

/* ----------- points ---------- */
.mapedit .toobar form{
    display: inline-block;
    margin-right: 30px;
}
.mapedit .toobar form input{
    border: 1px solid #999;
    padding: 4px;
    font-size:0.9em;
    margin-top:-5px !important;
}

.mapedit a.btnbackMap{
    position: absolute;
    z-index: 3;
    bottom: 15px;
    right: 90px;
    text-decoration:none;
    color: #636363;
}
.mapedit a.btnbackMap:hover{
    color: #333;
}

/* ------------- toobar para pesquisa de endereço (search) -----------*/
.searchEnd{
    position: absolute;
    width: 30%;
    top: 15%;
    left: 3%;
    background: rgba(255,255,255,0.7);
    padding: 10px 10px;
    z-index: 4;
    display: none;
}
.searchEnd h1{
    color: #333;
    text-shadow: 1px 1px 1px #666;
    border-bottom: 1px solid #333;
    padding: 0 0 5px 15px;
    margin-bottom: 20px;
    font-weight: 500;
}
.searchEnd input[name='searchInput']{
    width: 94%;
    margin: 15px 0 15px 3%;
    padding: 7px 7px 7px 35px;
    background-image: url(../images/search.png) no-repeat;
}
.searchEnd .years{
    border-radius:8px;
    background: #dedede;
    padding: 5px;
    border:none;
    text-align: center;
}
.searchEnd .search_load{
    float: left;
    position: absolute;
    top: 25px;
    right: 5%;
}
.searchEnd .searchResposta{
    width: 94%;
    background: rgba(0,0,0,0.02);
    border: 1px solid #ccc;
    margin: 0px 0 15px 3%;
}
.searchEnd .searchResposta p{
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.searchEnd .searchResposta button{
    padding: 0 3px;
    float: right;
}

/* ---------- formulario para inserção de dados ---------- */
.mapedit .draw_form{
    position: absolute;
    right: 0;
    width: 30%;
    top: 14%;
    z-index: 2;
    background: rgba(255,255,255,0.8);
    padding: 20px;
    max-height:70%;
    overflow: auto;
    display: none;
}
.mapedit .draw_form form, .draw_form form label{
    width: 100%;
}
.mapedit .draw_form form .legend{
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.1em;
}
.mapedit .draw_form form input{
    width: 100%;
    padding: 5px;
    margin:5px 0 15px 0;
}
.mapedit .draw_form .btn{
    background: #29a329;
    color: #fff;
    font-weight: 600;
    float: right;
    margin-right: 30px;
}
.mapedit .draw_form .btn:hover{
    background: #1f7a1f;
}
.mapedit .draw_form .btn.btnblue{
    background: #1a1aff;
}
.mapedit .draw_form .btn.btnblue:hover{
    background: #0000b3;
}
.mapedit .draw_form .btn.btnred{
    background: #e60000;
}
.mapedit .draw_form .btn.btnred:hover{
    background: #ff0000;
}

/* ======== EXCLUSÃO ========= */
.del_colaborador .btn{ background: #e60000; color: #fff; padding: 3px 10px;}
.del_colaborador .btn:hover{ background: #cc0000;}